@import "tailwindcss";

@font-face {
  font-family: 'Alice';
  src: url('/fonts/Alice-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Caveat';
  src: url('/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'LuckiestGuy';
  src: url('/fonts/LuckiestGuy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}


body{
  background: rgb(13, 15, 18);
  box-sizing: border-box;
  margin: 0;
}

.alice{
  font-family: 'Alice',sans-serif;
}
.caveat{
  font-family: 'Caveat',sans-serif;
}
.luck{
  font-family: 'LuckiestGuy',sans-serif;
}

@tailwind utilities;

/* Custom utility (optional gradient text) */
@layer utilities {
  .text-gold {
    background: linear-gradient(
      to bottom,
      #FFD700 0%,
      #FFD700 70%,
      #000000 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .text-graident {
    background: linear-gradient(
      to bottom,
      #ffffff,
      #898989
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .cardp{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    background-color: black;
    position: relative;
    /* border-bottom: 1px gray solid; */
    /* box-shadow: 0px 0px 4px #ffffff; */
  }

  .filter{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.148),rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .main:hover > .pro{
    transform: scale(1.12);
    transition: all .2s;
  }

  .hidden{
    display: none;
  }

}
