@import "tailwindcss";

@font-face {
  font-family: 'Alice';
  src: url('/fonts/Alice-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Caveat';
  src: url('/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'LuckiestGuy';
  src: url('/fonts/LuckiestGuy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Libre';
  src: url('/fonts/LibreBaskerville-Bold.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

body{
  background: #0d0f12;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

.alice{
  font-family: 'Alice',sans-serif;
}
.caveat{
  font-family: 'Caveat',sans-serif;
}
.luck{
  font-family: 'LuckiestGuy',sans-serif;
}
.libre{
  font-family: 'Libre', sans-serif;
}

@tailwind utilities;

/* Custom utility (optional gradient text) */
@layer utilities {
  .text-gold {
    background: linear-gradient(
      to bottom,
      #FFD700 0%,
      #FFD700 70%,
      #000000 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .text-graident {
    background: linear-gradient(
      to bottom,
      #ffffff,
      #898989
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .text-graidentBlue {
    background: linear-gradient(
      to bottom,
      #ffffff,
      rgb(64, 156, 171)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .cardp{
    width: 250px;
    height: 250px;
    border-radius: 12px;
    background-color: black;
    position: relative;
    /* border-bottom: 1px gray solid; */
    /* box-shadow: 0px 0px 4px #ffffff; */
  }

  .filter{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.148),rgba(0, 0, 0, 0.9));
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .main:hover > .pro{
    transform: scale(1.12);
    transition: all .2s;
  }

  .hidden{
    display: none;
  }

  .reviewCard{
    min-width: 300px;
    height: auto;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: linear-gradient(to top right, rgb(0, 15, 25),rgb(0, 43, 71));
  }

  /* Add this to your global CSS */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  overflow: scroll;
  scrollbar-width:none;
}

.section {
  min-height: 100vh;
  position: sticky;
  top: 0;
  will-change: transform;
}

.stack-container {
  position: relative;
}
/* 
.section:nth-child(1) { z-index: 5; }
.section:nth-child(2) { z-index: 4; }
.section:nth-child(3) { z-index: 3; } */
/* and so on */



}
